.wrapper {
  padding: 0;
  font-family: "LXGW WenKai TC", cursive;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.header {
  font-size: 20px;
  background-color: #4535C1;
}

.navbar-brand {
  width: 8%;
  min-width: 90px;
}

.nav-item > a {
  color: #fff;
}

.navbar-nav .nav-link:focus {
  color: #fff;
}
.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: #77E4C8;
}
.navbar-nav .nav-link.active {
  font-weight: bold;
}

.search-btn {
  color: #fff;
  border: 2px solid #fff;
}
.search-btn:hover {
  font-weight: bold;
  color: #4535C1;
  background-color: #fff;
}

.navbar-toggler {
  background-color: white;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

span {
  font-weight: bold;
}

.main {
  margin-top: 5%;
  margin-left: 0;
}

.tabs {
  margin-top: 10%;
}
.tabs ul.tab-links {
  font-size: 0;
  margin-bottom: 20px;
  margin-top: 10%;
}
.tabs ul.tab-links li {
  width: 100%;
  font-size: 20px;
  display: block;
}
.tabs ul.tab-links li a {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #231d5c;
  background-color: white;
  padding: 6px 10px;
}
.tabs ul.tab-links li a:hover {
  color: #4535C1;
}
.tabs .tab-content {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 20px;
}
.tabs .tab-content div[id^=tab]:not(:target) {
  display: none;
}
.tabs .tab-content div[id^=tab]:target {
  display: block;
}

.card {
  display: block;
  margin: 2% 0;
}
.card-img-top {
  height: 19.5rem;
}
.card-text {
  font-size: 18px;
}

.footer {
  display: flex;
  justify-content: center;
  text-align: left;
  margin-top: 30px;
  padding: 50px 0;
  background-color: #008DDA;
  color: #fff;
}

.footer__list {
  list-style-type: none;
}

@media (max-width: 1280px) {
  .card {
    height: 550px;
  }
  .card-img-top {
    height: 19.5rem;
  }
}
@media (max-width: 1024px) {
  .card {
    height: 650px;
  }
  .card-img-top {
    height: 19.5rem;
  }
}
@media (max-width: 960px) {
  h1 {
    width: 100px;
    margin-left: 45px;
  }
  a {
    text-align: center;
  }
  .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .card {
    height: auto;
  }
  .card-img-top {
    height: 18.125rem;
  }
  .main {
    margin-top: 10%;
  }
  ul.tab-links {
    margin-top: 10%;
  }
  ul.tab-links li {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-3 {
    text-align: center;
    width: 100%;
  }
  .col-3 h1 {
    width: 100%;
    margin: 0;
  }
  .col-3 a {
    border: 2px solid black;
  }
  .col-3 ul.tab-links {
    margin-right: 30px;
  }
  .card {
    height: auto;
  }
  .card-img-top {
    height: 19.5rem;
  }
  .main {
    margin-top: 15%;
  }
}
@media (max-width: 480px) {
  .col-6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-3 {
    text-align: center;
    width: 100%;
  }
  .col-3 h1 {
    width: 100%;
    margin: 0;
  }
  .col-3 a {
    border: 2px solid black;
  }
  .col-3 ul.tab-links {
    margin-right: 30px;
  }
  .card {
    height: auto;
  }
  .card-img-top {
    height: 19.5rem;
  }
  .main {
    margin-top: 20%;
  }
}/*# sourceMappingURL=style.css.map */