@use "../../../global/variables";

.footer {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 30px;
    padding: 50px 0;
    background-color: variables.$footerColor;
    color: variables.$light-color;
}

.footer__list {
    list-style-type: none;
}