// Header
@use "tools";

.header {
    font-size: 20px;
    background-color: tools.$primary-color;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.445);
}

.navbar-brand {
    width: 8%;
    min-width: 90px;
}

.nav-item>a {
    color: tools.$light-color;
}

.navbar-nav {
    .nav-link {
        &:focus {
            color: tools.$light-color;
        }

        &:hover,
        &.active,
        &.show {
            color: tools.$active-color;
        }

        &.active {
            font-weight: bold;
        }
    }
}

.search-btn {
    color: tools.$light-color;
    border: 2px solid tools.$light-color;

    &:hover {
        font-weight: bold;
        color: tools.$primary-color;
        background-color: tools.$light-color;
    }
}

.navbar-toggler {
    background-color: white;
}

.navbar-collapse {
    flex-grow: 0;
}