// Header
@use "variables";

.header {
    font-size: 20px;
    background-color: variables.$primary-color;
}

.navbar-brand {
    width: 8%;
    min-width: 90px;
}

.nav-item>a {
    color: variables.$light-color;
}

.navbar-nav {
    .nav-link {
        &:focus {
            color: variables.$light-color;
        }

        &:hover,
        &.active,
        &.show {
            color: variables.$active-color;
        }

        &.active {
            font-weight: bold;
        }
    }
}

.search-btn {
    color: variables.$light-color;
    border: 2px solid variables.$light-color;

    &:hover {
        font-weight: bold;
        color: variables.$primary-color;
        background-color: variables.$light-color;
    }
}

.navbar-toggler {
    background-color: white;
}